    :root {
      --color-white: #FFFFFF;
      --still-white: #FFFFFF;
      --color-orange: #F36B14 !important;
      --color-dark: #231F20;
      --color-black-1: #141414;
      --color-black-2: #000000;
      --color-purple: #640D5F;
      --color-orange-2: #FF9D00;
      --color-gray-1: #45413C;
      --color-black-alpha: #141414BF;
      --color-orange-3: #FF9800;
      --color-text-p: #646464;
      --accent: #FAE084;
      --muted: #9aa4b2;
      --card-bg: #ffffff;
      --page-bg: #FAF8F6;
      --radius: 16px;
      --bg-popup: #F4F4F4;
      --color-orange-dark: #F36B14;
      --bg-transablet: #f3691418;
      --inputFloat: #fff;
      --bg-voice: #fafafa;
      --bg-worker: #faf8f6;
      --bgCardInfo: #ffffff80;
      --gradient-1: linear-gradient(to bottom,
          rgba(44, 44, 44, 0.04),
          #fff,
          #ffffff);
      --gradient-2: linear-gradient(180.19deg, #faf8f6 0.17%, #fea420 99.08%);
      --gradient-3: linear-gradient(97.86deg, rgba(0, 0, 0, 0) 1.76%, rgba(0, 0, 0, 0.9) 96.81%);
      --gradient-4: linear-gradient(97.12deg, rgba(0, 0, 0, 0) 1.8%, rgba(0, 0, 0, 0.9) 96.83%);
      --gradient-5: linear-gradient(96.74deg, rgba(0, 0, 0, 0) 2.07%, rgba(0, 0, 0, 0.9) 97.04%);
      --gradient-6: linear-gradient(96.2deg, rgba(0, 0, 0, 0) 2.28%, rgba(0, 0, 0, 0.9) 97.21%);
    }

    body{
      overflow-x: hidden;
    }  
